# Directories
[Bb]in/world/
[Bb]uild/
[Dd]ebug/
[Rr]elease/
x64/
arm/
arm64/
[Oo]bj/
[Ss]creenshots/
[Dd]oxygen/
[Dd]oc/
[Dd]ocumentation/
[Dd]ocs/
[Hh]elp/
[Mm]an/

# Binaries
*.exe
*.run
*.nix
*.linux

# Loose filetypes
*.log
*.tlog
*.wlog
*.o
*.d

# Visual Studio filetypes and files
*.suo
*.user
*.sln.docstates
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.log
*.scc
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
*.psess
*.vsp
*.vspx
*.gpState
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html


# Code::Blocks filetypes and files
*.layout
*.workspace
*.cscope_file_list

# Windows Operating System specific
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Macintosh Operating System specific
.DS_Store

# Linux Operating System specific
.Trash
.Trash-1000
