# Ignore these directories only in this directory
/[Bb]in/world/
/[Bb]uild/
/[Dd]ebug/
/[Rr]elease/
/[Xx]64/
/[Aa]rm/
/[Aa]rm64/
/[Oo]bj/
/[Ii]nclude/
/[Ll]ib/
#/[Ii]mage[Pp]roject[Ff]iles/

# Ignore these directories anywhere
[Ss]creenshots/
[Dd]oxygen/
[Dd]oc/
[Dd]ocumentation/
[Dd]ocs/
[Hh]elp/
[Mm]an/

# Binaries
*.exe
*.run
*.nix
*.linux
*.elf

# Loose filetypes
*.log
*.tlog
*.wlog
*.o
*.d

# Visual Studio filetypes and files
*.suo
*.user
*.cd
*.sln.docstates
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
*.builds
*.pidb
*.log
*.scc
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
*.psess
*.vsp
*.vspx
*.gpState
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html


# Code::Blocks filetypes and files
*.layout
*.workspace
*.cscope_file_list
*.depend
lost_in_wilderness.cscope_file_list
lost_in_wilderness.depend
lost_in_wilderness.layout

# Windows Operating System specific
[Tt]humbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Macintosh Operating System specific
.DS_Store

# Linux Operating System specific
.Trash
.Trash-1000
